/*
 * This is a manifest file that'll automatically include all the
 * stylesheets available in this directory and any sub-directories.
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.cl {
  clear: both;
}

#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141;
  clear: both;

  #main {
    margin-left: 29em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 25em;
    background: #141;

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color: white;

      table {
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

    span{
      color: #fff;
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;


  div.input {
    margin-bottom: 10px;
  }

  div.boolean, input[type='submit'] {
    margin-left: 120px;
  }

  div.boolean label, label.collection_radio {
    float: none;
    margin: 0;
  }

  label.collection_radio {
    margin-right: 10px;
    margin-left: 2px;
  }

  .error {
    clear: left;
    margin-left: 120px;
    font-size: 12px;
    color: #D00;
    display: block;
  }

  .hint {
    clear: left;
    margin-left: 120px;
    font-size: 12px;
    color: #555;
    display: block;
    font-style: italic;
  }
}
